.home{
    >div{
        max-width: var(--container-maxWidth);
        margin: auto;
        min-width: width 70vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;

        h1{
            font-size: 4rem;
            span{
                color: orange;
            }
        }
        p{
            font-size: 1.5rem;
        }
        a{
            background: orange;
            color: black;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
        a:hover{
            background-color: rgb(194, 128, 6);
        }
    }

}